@model Exercises.Models.ViewModels.StudentVM

<div class="row">
    <div class="col-xs-12 col-sm-3">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-9">
        @using (Html.BeginForm("EditAddress","Student",FormMethod.Post))
        {
            @Html.HiddenFor(s => s.Student.StudentId)
            @Html.HiddenFor(s => s.Student.Address.AddressId)

            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Address Details</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Street 1</label>
                            @Html.TextBoxFor(s => s.Student.Address.Street1, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Street 2(Optional)</label>
                            @Html.TextBoxFor(s => s.Student.Address.Street2, new {@class = "form-control"})
                        </div>
                        <div class="form-group">
                            <label>City</label>
                            @Html.TextBoxFor(s => s.Student.Address.City, new {@class = "form-control"})
                        </div>
                        <div class="form-group">
                            <label>State</label>
                            @Html.TextBoxFor(s => s.Student.Address.State.StateAbbreviation, new {@class = "form-control"})
                        </div>
                        <div class="form-group">
                            <label>Zip Code</label>
                            @Html.TextBoxFor(s => s.Student.Address.PostalCode, new {@class = "form-control"})
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
                    }
                </div>
            </div>

